* {
    font-family: 'Courier New';
}


/* color: #e44c21; */
h3,
h1 {
    color: #e44c21;
}

#login {
    background-color: aliceblue;
    color: black;
}

#signup {
    background-color: #e44c21;
    color: white;
}